<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="cms" transaction-type="RESOURCE_LOCAL">

        <class>com.company.cms.entity.CardProfile</class>
        <class>com.company.cms.entity.CardProfileDet</class>
        <class>com.company.cms.entity.CardEmvKey</class>
        <class>com.company.cms.entity.CardEmvOldKey</class>
        <class>com.company.cms.entity.CardGenReq</class>
        <class>com.company.cms.entity.CardGenReqDet</class>
        <class>com.company.cms.entity.FileFmt</class>
        <class>com.company.cms.entity.BrnMaint</class>
        <class>com.company.cms.entity.CardLnkFmt</class>
        <class>com.company.cms.entity.CardCond</class>
        <class>com.company.cms.entity.CardCondAcctType</class>
        <class>com.company.cms.entity.CardChrgs</class>
        <class>com.company.cms.entity.CardMast</class>
        <class>com.company.cms.entity.CardDet</class>
        <class>com.company.cms.entity.CardAcct</class>
        <class>com.company.cms.entity.CustomerCrdMast</class>
        <class>com.company.cms.entity.CustomerCrdDet</class>
        <class>com.company.cms.entity.CustomerCrdAcctDet</class>
        <class>com.company.cms.entity.CmsTrans</class>
        <class>com.company.cms.entity.CmsRules</class>
        <class>com.company.cms.entity.CmsTPRule</class>
        <class>com.company.cms.entity.FeesCat</class>
        <class>com.company.cms.entity.FeesChrgCd</class>
        <class>com.company.cms.entity.Fees</class>
    </persistence-unit>
</persistence>
