<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="cms" transaction-type="RESOURCE_LOCAL">

        <class>com.company.cms.entity.CardProfile</class>
        <class>com.company.cms.entity.CardProfileDet</class>
        <class>com.company.cms.entity.CardEmvKey</class>
        <class>com.company.cms.entity.CardEmvOldKey</class>
        <class>com.company.cms.entity.CardGenReq</class>
        <class>com.company.cms.entity.CardGenReqDet</class>
        <class>com.company.cms.entity.FileFmt</class>
        <class>com.company.cms.entity.BrnMaint</class>
        <class>com.company.cms.entity.CardLnkFmt</class>
        <class>com.company.cms.entity.CardCond</class>
        <class>com.company.cms.entity.CardCondAcctType</class>
    </persistence-unit>
</persistence>
